.header {
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;

    @include title-size;

    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
  }

  &__bottom {
    @include content-padding-bottom;
  }
}
